.DS_Store
.ipynb_checkpoints
_extras
__pycache__
xd_xd.pth
#ignore contents of models
models/*
*.pth
borrar.pth
dataset
DATASET
output_csv
output_csvs
*~
codes/saved_images
codes/outputs
codes/output_csvs
codes/models
codes/registros
outputs
*.pth.tar
*.tar
*.pth
*.csv
registros
registros/*
codes/registros/*
codes/registros
codes
